﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Announcements.ascx.cs" Inherits="spaarks.DB.CSBC.DBAccess.DBAccessIntranet.Controls.WebParts.Announcements" %>

<h2 class="lightblue_10">Announcements will go here in a ticker</h2>
