/*----------------------------------------------------------*/
/*     This is the css provided by the db style guide       */
/*     THIS FILE HAS BEEN MODIFIED FROM THE ORIGINAL        */
/*     To allow for 100% width instead of fixed width       */
/*----------------------------------------------------------*/

html, body { 
  height: 100%; /* Required */
  width:100%;
}
body {
    margin: 0px;
    background: url(../img/background_verlauf.gif) #E9EFF3 repeat-x left top;
    font-family: Arial, Helvetica, sans-serif;
    color:#888;
}
a {
    color:#000000;
    text-decoration:none;
}
a.active,
a:hover {
    color:#0098DB;
    text-decoration:none;
}
div
{
    z-index:1;
}
#layoutPositioner {
    width:100%;    
    min-width:994px;
    margin:0px auto;
    height:100%;
    padding:0px !important;
    position:relative;
}
#layoutComplete {
  margin: 0px auto;
  padding:0px !important;
  text-align: left;
  position: absolute;
  min-height: 100%; /* For Modern Browsers */
  height: auto !important; /* For Modern Browsers */
  height: 100%; /* For IE */
  width:100%;
  min-width:994px;
  float:left;
  background:white;
}
#typeA #layoutComplete {
  background:white;
}
#typeA #layoutMain {
  background-image:none;
  
}
#layoutMain {
  padding-bottom:154px;
  clear:left;
  float:left;
    width:100%;
}
#layoutFooter
{
  position: absolute !important;
  left:0px !important;
  bottom: 0px !important;
  clear:left !important;
  float:left !important;
  height: 155px !important;
  bottom: -1px !important; /* For Certain IE widths */
  margin:0px !important;
  padding-left: 24px;
  width:98%;  
  min-width:994px;
  padding-left:12px;
  padding-right:12px;
  display:inline;
  background:url(../img/footer_apollo.gif) repeat-x left top #eaf0f4!important;
	z-index: -1;
}
#typeA #layoutMain {
    padding-bottom:16px !important;
}



/* *** HEADER AREA *** */
#headerArea 
{
    margin:0px;
    width:100%;
    position:relative;
    float:left;
    background:#FFFFFF;
    z-index:2 !important;
}
#topStage, #headerImage {
    width:100%;     
    display:block;
}
#topStage {
    margin: 0px;
    padding:106px 0px 0px 0px;
}
#topStage #clickLogo {
    position:absolute !important;
    top:18px !important;
    right:24px;
    width:70px;
    height:70px;
    background-image:url(../img/logo.gif);
}

.headerProjectName {
    display:block;
    position:absolute;
    left: 14px;
    top: 0px;
    padding:18px 10px 0 10px;
}

#identifierImage {
    display:block;
    left:24px;
    position:absolute;
    top:40px;
}

/* *** skip links and hidden content *** */
  .skip, .hideme {
    position: absolute;
    top: -1000em;
    left: -1000em;
    height: 1px;
    width: 1px;
  }
/* *** make skip links visible when using tab navigation *** */
  .skip:focus, .skip:active {
    position: static;
    top: 0;
    left: 0;
    height: auto;
    width: auto;
}


/* FOOTER AREA */

#typeA #layoutFooter {
    padding:0 24px;
    height:155px !important;
}

#footerArea {
    float:left;
    width:100%;
}

#footerUpper {
  height:50px;
}

#footerLower {
  border-top:1px solid #CCCCCC;
  padding-top:6px;
  line-height:13px;
}
  
#footerLeftLg {
    float:left;
    width:758px;
}
#footerLeft {
    float:left;
    width:388px;
    
}
#footerCenter {
    float:left;
    width:370px;
}
#footerRight {
    float:right;
    width:188px;
}




#topFullWidth { margin:0; }


#contentAreaShadow {
    background-image:url('../img/bar_shadow.gif');
    background-repeat:no-repeat;
    background-position:top center;
    background-color:white;
   /**/
    z-index:+1;
    /*top:80px;*/
}


/* Header Area already defined elsewhere
#headerArea {
    position:relative;
    z-index:2 !important;
}*/
.projectName {
    font-weight: bold;
    font-size: 12px;
    color: #0018A8;
    position:absolute;
    left: 0px;
    top: 2px;
    line-height:21px;
    background-color:white; 
}
#typeA #headerArea {
    
}
#topStage {
    position:relative;
}
#topStage #clickLogo {
    display:block;
    position:absolute;
    background-repeat:no-repeat;
    z-index:1;
}
#topStage img {
    display:block;
}

a.lightbox,
a.lightbox * {
    display:block;
    position:absolute;
    top:-12px;
    opacity: .5;
    filter: alpha(opacity=50);
    background-color:#0018A8;
    height:100%;
    z-index:4 !important;
    width:100% !important;
}



/*CONTENT AREA*/
#topFullWidth { width:100%; margin-bottom:16px; }
#topFullWidth div.inner { margin:0 6px; }

#contentArea {
   /* width:100%;*/
    clear:both;
    min-width:994px;   
    padding-top:4px;
    padding-left:12px;
}
#typeA #contentArea {
    padding-top:40px;
}
#contentColumns {
   /* width:100%;*/
    padding-left:12px;
    padding-right:12px;
}
.cntCol {
    float:left;
    overflow:hidden;
}
.cntCol .inner {
    margin: 0px 12px 0px 12px !important;
 }

.colWidth5 , .colWidth5 .hundred{
    width:970px; 
}
.colWidth4 , .colWidth4 .hundred {
    width:776px; 
}
.colWidth3 , .colWidth3 .hundred {
    width:582px;
 }
.colWidth2 , .colWidth2 .hundred {
    width:388px;
 }
.colWidth1 , .colWidth1 .hundred {
    width:194px;
}

.colWidth0 {
    display:none!important;
}

.hundred, .fifty, .twentyfive, .seventyfive, .sixtysix, .thirtythree {
    overflow:hidden;
}

.auto {
    width:auto !important;
}
.cntCol .inner {
    margin: 0px 6px 0px 6px;
}

/* Apollo Modules*/
/* ICON CSS */

.icon {
margin:0px;
display:block;
padding:0 0 0 20px;
background-repeat:no-repeat;
background-position: left 1px;
line-height:16px;
}

.pdf {
background-image: url(/db/apollo_reddot/apollo_icon_pdf.gif);
}

.doc {
background-image: url(/db/apollo_reddot/apollo_iconDOC.gif);
}

.xls {
background-image: url(/db/apollo_reddot/apollo_iconXLS.gif);
}

.back {
background-image: url(/db/apollo_reddot/zur_nachrichtenuebersicht.gif);
height:20px;
padding:2px 0;
padding-left:28px;
}


/* /ICON CSS*/
#loginLinks {
    float:right;
    width:114px;
    padding:0px;
    margin:5px 8px 0px 0px;
    height:36px;
    line-height:36px;
}
#loginLinks ul {
    list-style-type: none !important;
    list-style-image: none !important;
    display:block;
    height:36px;
    width:114px;
    padding:0px;
    margin:0px;
}
#loginLi {
    display:block;
    height:36px;
    font-size:11px;
    font-weight:normal;
    color: #a80303;
    padding:0px !important;
    margin:0px;
    background:url(../img/login_feld.gif) no-repeat !important;
    position:static !important;
}
#loginLi.lghover {
    background-image:url(../img/login_feld_down.gif) !important;
}
#loginLi.lghover a{
    color: black!important;
}
a#loginA {
    display:block;
    padding:0px 6px 0px 6px !important;
    font-size:11px;
    height:25px;
    line-height:25px;
    color:white;
    /*color: #a80303;*/
    font-weight:normal;
    margin:0px;
}
#loginLinks ul ul {
/*
    display:none;
*/
    visibility:hidden;
    list-style-type:none;
    z-index:2 !important;
    position:absolute !important;
    left: 0px !important;
    top: 4px !important;
    background:white!important;
    width:100%;
    padding-left:12px;
    padding-right:12px;
    height:auto;
    padding-bottom:8px;
    border-bottom:1px solid #BBB;    
}
#loginLinks ul ul li {
    width:194px !important;
    float:left !important;
    display:block !important;
    margin:0px 0px 15px 0px !important;
    padding:0px !important;
    background:none;
}
#loginLinks ul ul li h4 {
    display:block !important;
    padding:0px 12px 2px 12px !important;
    margin:0 0 2px 0 !important;
    font-weight:normal !important;
    font-size:13px !important;
    line-height:15px !important;
    color:#009ee0 !important;
}
#loginLinks ul ul li a:hover {
    color:#009EE0 !important;
}
#loginLinks li.lghover ul ul {
    position:static !important;
    display:inline !important;;
    visibility:visible !important;
    background:none!important;
    border:none !important;
}
#loginLinks li.lghover ul ul li {
    display:inline !important;
    float:none !important;    
}
#loginLinks li.lghover ul ul li a {
    display:block !important;
    padding:2px 12px 2px 12px !important;
    font-size:11px;
    font-weight:normal !important;
    line-height:13px;
}
.loginCol {
    float:left; 
    width:194px !important; 
    margin:6px 0px 0px 0px !important; 
    padding:0px !important;
}
#loginLinks #onlBkg {    
    margin-top:18px;
    padding-right:12px;
    height:43px;
} 
#loginLinks #onlBkg a {    
    text-align:left;
    background:url(/db/apollo_reddot/img/online_button.gif) no-repeat left center;
    width:158px;
    line-height:26px;
    color: black;
    float:right;
    font-size:11px;
    font-weight:bold;
    padding-left:12px;
}
/*APOLLO CONTENT*/
/* Apollo Basic styles */


.quote, .quoteLeft {
  color:#0098DB;
  width:236px;
  margin: 0px 0px 16px -12px !important; 
  padding: 12px 16px 0px 12px !important; 
  text-indent: -9px !important; 
  position:relative !important;
  display:inline!important;
  float:left;
}

.quoteRight {
  color:#0098DB;
  width:172px;
  margin: 0px 0px 16px 0px !important; 
  padding: 12px 16px 0px 12px !important; 
  text-indent: -6px !important; 
  position:relative !important;
  display:inline!important;
  float:right;
}

.noIndent {
  padding: 0 0 0 12px!important; 
  text-indent: 0px !important; 
}

.top24 {
margin-top:24px!important;
}


h3.newslistMonth , .newslistMonth {
background: url(/db/apollo_reddot/dotline_784.gif) no-repeat center bottom;
font-size:15px !important;
margin:0!important;
}

.newslistMonth a{
padding:25px 0 0 0!important;
}

.newsEntries {
padding:0;
margin:0;
}

.closeMe{
padding:0 0 12px 0!important;
}

.dotted {
background: url(/db/apollo_reddot/dotline_784.gif) no-repeat center bottom;
padding:0 0 10px 0;
margin:0!important;
}

.rubrizierung {
color:#0098db;
padding: 0 0 3px 0!important;
margin: 0 0 10px 0!important;
background: url(/db/apollo_reddot/dotline_784.gif) no-repeat center bottom;
display:block!important;
}

.newsAreaHead {
background: url(/db/apollo_reddot/dotline_784.gif) no-repeat center bottom;
margin-top:18px!important;
padding:0 0 3px 0;
}


#newsPageHeadline {
margin: 12px 0 12px 0;
}

#newsPageHeadline .headlinesBreak {
margin-top:13px;
}

.dottedHR{
background: url(/db/apollo_reddot/dotline_784.gif) no-repeat center top;
padding:0!important;
margin:3px 0 0 0!important;
height:1px!important;
overflow:hidden;
}

.greyHeadline {
color:#888;
font-weight:normal!important;
font-size:18px!important;
background:url() no-repeat center bottom;
padding-bottom:21px;
padding-top:1px;
margin:0;
}

a.readspeaker{
background:url(/db/apollo_reddot/vorlesen.gif) no-repeat;
width:66px;
height:16px;
padding:0;
margin:0 0 0 3px;
float:right;
}

a.readspeakerMP3{
background:url(/db/apollo_reddot/mp3.gif) no-repeat;
width:42px;
height:16px;
padding:0px;
margin:0 0 0 3px;
float:right;
}

.headlinesBreak{
margin:0;
display:block;
}

.grey {
color:#888;
}
.black {
color:#000!important;
}
.blue {
color:#039!important;
}
.newBlue{
color:#0098DB!important;
}
/* End Apollo Basic styles */



/* Tab Styles */

  .tabBackground{ display:none; padding:0px!important; }

  .tabs50h, .tabs50h .tab, .tabs50h .tab div {
    background: url(/db/apollo_reddot/bg_tabButton50.gif);   
    height:53px;
  }
    
  .tabs50h .tab a{
    height:41px;
  }

  .tabs36h, .tabs36h .tab, .tabs36h .tab div {
    background: url(/db/apollo_reddot/bg_tabButton36.gif);   
    height:39px;
  }
    
  .tabs36h .tab a{
    height:27px;
  }

  .tabs558w,
  .tabs558w .tabs {
    width:558px;
  }
  .tabs558w .tabContainer {
    width:556px;
  }
  
  .tabs558w .boxTop {
    border-top:1px solid #d9d9d9;
    height:3px;
  }
  
  .tabs {
    padding:0px;
    background-position: center left;
    margin:0px !important;   
    list-style-type: none!important;
    list-style-image: none!important;
  }
  
  .tabs .tab {
    padding:0px;
    float:left;
    margin:0 3px 0 0; 
    background-position: top left;    
  }
    
  .tabs .last { margin-right:0;}

  .tabs .tab div{
    display:block;
    margin: 0 0 0 6px;
    background-position: top right;
    padding:0px;
  }

  .tabs .tab a{
    display:block;
    font-size:13px!important;
    line-height:15px!important;
    color:black;
    text-decoration:none;
    margin:0px;
    padding:9px 12px 0 6px;
  }
  
  .tabs .active {
    background-position: bottom left;
  }
  
  .tabs .active div {
    background-position: bottom right;
  }
    
  .tabs .active a {  
    color:#0098DB;
  }



  .tabContainer {
    margin:0;
    padding:0;
    background: url(/db/apollo_reddot/bg_tabcontent.gif) no-repeat left bottom ;
    border-left:1px solid #d9d9d9;
    border-right:1px solid #d9d9d9;
    border-bottom:1px solid #d9d9d9;
  }   
     
  .tabContainer .tabContent {
    margin-left:13px;
    margin-right:13px;
    padding:10px 0 0 0px;  
    z-index:1;
    visibility:hidden;
  }

  .tabContainer .activeContentTab {
      z-index:2;
      visibility:visible;
  }    

  .tabContent a {
    padding:0!important;
    display:block;
  }

  .tabContainer .tabHeadline {
    margin:0px;
  }

img {
border:none;
}

.rdtextfield img {
margin-bottom:10px;
}

.fullWidthContent {
    margin:0!important;
    padding:0!important;
}


.fullWidthContent .tabHeadline {
    margin:13px;
}


.awardsDate {
    line-height:22px!important;
    padding:5px 0 5px 12px!important;
}

.awardsHead {
margin:7px 0 0 0;
padding: 0 0 2px 0;
}


.openClick, .closeClick{
    display:block;
    width:100%;
    cursor:pointer;
    line-height:22px;
    padding:12px 0 9px 0;
    margin:0;
    color:#000;
}


.openClick {
    background:url(/db/apollo_reddot/arrow_down.gif) no-repeat right 12px;
}

.closeClick {
    background:url(/db/apollo_reddot/arrow_up.gif) no-repeat right 12px;
}

.showHideBox .openClick, .showHideBox .closeClick{
    padding:10px 0 9px 0;
    margin:0px;
    background-position: right 12px!important;
}

.awardsEntry {
padding-bottom:3px;
}


/* TABLE CSS */

.awardsTableWrapper .monthHead {
font-size:18px!important;
color:#888;
padding:8px 12px 7px 12px;
}



.awardsTableWrapper .closeMe {
margin:0!important;
padding:6px 0 0 0!important;
}

.awardsTableWrapper ul {
margin:0 0 0 16px!important;
padding:0!important;
}

.tableWrapper, .awardsTableWrapper {
padding:0;
}

.awardsTableWrapper table, .tableWrapper table {
margin:0;
}

/* /TABLE CSS */


.dbnNewsList .dnbNewsEntry {
/*background:url(/db/apollo_reddot/dotline_784.gif) repeat-x left bottom;
margin:0 0 0 -12px;
padding:0 0 0 12px;*/
width:760px;
margin:0;
padding:0;
}

.dbnNewsList .dnbNewsEntry .dbnCol1 {
width:126px;
margin:0;
padding:10px 12px 7px 0;
float:left;
}

.dbnNewsList .dnbNewsEntry .dbnCol2Full {
width:616px;
padding:7px 0 9px 0;
margin:0;
float:left;
}

.dbnNewsList {
margin:0 0 0px 0;
}


/* START Aggregated News Styles - Added by Basti 19.11.2009 */

.dbnNewsList .pwmNewsHeadline {
    clear:left !important;
    float:left;
    font-weight:bold;
    background:#EBEFF6;
}
.dbnNewsList .pwmNewsEntry {
    float:left;
    clear:both;
    border-bottom: 1px solid #aec3de;
    border-top:none;
    /*width: 574px;*/
    width: 100%;
    padding: 10px 0px 10px 0px;
}
.dbnNewsList .pwmLine1 {
    margin-bottom: 5px;
}
.dbnNewsList .pwmLine2Full {
    font-weight: bold;
}
.dbnNewsList .newsArticleSettings{
    margin-top: 5px;
}
.dbnNewsList .newsArticleSettings td{
    padding-right: 20px;
}
/** Teaser **/
.dbnNewsList .newsTeaserArticle {
    padding: 0px 0px 20px 0px !important; 
    font-size:11px;
    color:#888;
    float: none; 
    clear: none;
}
.dbnNewsList .newsTeaserArticle a {
    font-size:15px;
    font-weight:normal;
    line-height:18px;
    margin-bottom:1px;
}

.award_table_item {
float:left;
}

.showHideBox .rubrizierung {
margin-bottom:0px!important;
}

.showHideEntry{
margin-top:4px;
padding-bottom:5px; /*!*/
}
.shItem {
margin-top:7px;
margin-bottom:4px;
}
.shItem img{
margin-top:4px;
}
 
 /*END APOLLO CONTENT*/
/**/ 

.cntCol .inner.snippets {
    margin: 20px 6px 0px 6px;
}
#typeA .cntCol .inner.snippets {
    margin: 0px 6px 0px 6px;
}
.cntCol .inner.topline {
    border-top:1px solid #CCCCCC;
    padding-top:14px;
}


/* RELATED CONTENT */
#rCOuter {
    width:788px;
    float:right;
    margin-top: 0px;
    margin-left:0;
}

#rCHead {
    background: url(/db/apollo_reddot/rcbar.gif) left top no-repeat;
    margin:44px 0 0 0;
    height:12px;
}
#rCInner {
    padding:16px 0 18px 0px;
}
#rCInner .snippet .content{
    width:170px;     
    padding:5px 0 0 0;
}
#rCInner .snippet {
    width:170px;
    padding-left:24px!important;
    float:left;
}
#rCInner .hundred {
    width:170px;
    padding:0;
}
 

/*SNIPPETS*/
.snippet {
 overflow:hidden;
 position:relative;
 line-height:16px !important;
 color:#888;
 padding:0;
 margin:0;
}
.snippet h3,
 #gtotopstory h5 {
 line-height: 18px!important;
 font-size:15px!important;
 background:none;
 margin:0;
 padding:0 0 2px 0;
 color:#0098DB;
 border:none;
}

.snippet p *{
    line-height:16px;
}

.snippet p{
    line-height:16px!important;
}

.snippet img {
 margin:0 0 10px 0!important;
}

.width184 .snippet h3,
.snippets .snippet h3,
#gtotopstory h5  {
/* padding:1px 5px 2px 5px !important;*/
}

.snippet a {
/*    line-height:16px!important;
    padding-top:4px;
*/
}

.snippet a.icon {
display:block;
}

.snippet ul {
 margin-top: 0px !important;
}

div.snippet_white h3,
div.snippet_white .block,
div.snippet_white .bottom12,
div.snippet_white .content,
div.snippet_white
{
    background: #ffffff;
}
div.snippet_white h3 {
    border-bottom: 1px solid #ccc;
    padding-left: 0px;
    margin-left: 4px;
}
div.snippet_alert h3,
div.snippet_alert .block,
div.snippet_alert .bottom12,
div.snippet_alert .content,
div.snippet_alert
{
    background-color: #fef0e7;
}
div.snippet_alert h3,
div.snippet_alert h3 a {
    background-color: #ff6302;
    color: #FFFFFF !important;
}
div.snippet_border h3{
    background-color: #CFDAEB;
}
div.snippet_border .block,
div.snippet_border .bottom12,
div.snippet_border .content,
div.snippet_border 
{
    background-color: #ffffff !important;
}
div.snippet_border .content
{
    border:1px solid #CFDAEB !important;
    border-top:none;
}

/**//**/

/*META, BREADCRUMB, FOOTER NAVIGATION*/
#metaNavi ul#list_meta1,
#breadcrumbNavi ul,
#footerNavigation ul {
    display: inline;
}
#metaNavi ul#list_meta1 li,
#breadcrumbNavi li,
#footerNavigation li {
    padding:0px 7px 0px 9px;
    background: url(../img/trennung_ccc.gif) no-repeat left 2px;
    display:inline;
    list-style-image: none;
}

#metaNavi ul#list_meta1 li.first ,
#breadcrumbNavi li.first ,
#footerNavigation li.first {
    padding:0px 7px 0px 0px;
    background:none;
}

/*META NAVIGATION*/
#metaNavi {
    position:absolute;
    top:16px;
   margin:0px 0px 0px 218px;
}
#metaNavi a {
color:#666;
}
#metaNavi a:hover {
color:#0098DB;
}
/*
#breadcrumbNaviHolder
{   
    background:#EAF1F6;
    width:100%;
*/
   /*padding:10px 4px 10px 12px;*/      /* Show some of breadcrumbNaviHolder's background around edges  of contents.*/
/*
}
*/

/*BREADCRUMB NAVIGATION*/
#breadcrumbNavi {
 background:#EAF1F6;
 padding:10px 4px 10px 12px;      /* Show some of breadcrumbNavi's background around edges.*/
/* clear:left;
*/ font-size:11px;
 font-weight: normal;
 line-height:13px;
/*position:relative;
 top:-60px;*/
 z-index:1;
 
}

#breadcrumbNavi #brdInner
{
	margin-right: 120px;
/*    display:inline;*/ /*to allow the toolBarOuter to display on the same line*/

}

#breadcrumbNavi .toolBarOuter {
    right:12px;
    float:right;    
    z-index:1;
}

#breadcrumbNavi ul {
    margin-left:4px;
}

iframe.hoverBase {
    position:absolute;
    width:184px;
    top:33px;
    z-index:1;
    left:0px;
    border:none;
}
 

/***************************************************
 NAVIGATION
****************************************************/
ul.horNav {
    display:block;
    margin:0px;
    padding:0px;
}
ul.horNav li {
    display:inline;
    list-style-image: none;
}
/*COTENT NAVIGATION COLUMNS*/
ul.contentColumns {
  display:block;
  float:left;
  width:196px;
  padding:0px 0px 12px 0px !important;
}
ul.contentColumns li {
  list-style-image:none !important;
  list-style-type:none !important;
  background:none !important;
  padding:0px !important;
  margin:0px !important;
}
ul.contentColumns a {
  line-height:12px;
  padding:2px 6px 2px 16px;
  display:block;
}
/*COTENT NAVIGATION TABBED*/
ul.contentTabs {
  vertical-align:top;
  display:block;
  height:21px;
  padding:0px;
/*
  margin:21px 6px 1px 6px !important;
*/
  margin:0px 6px 1px 6px !important;
}
ul.contentTabs li {
  vertical-align:top;
  list-style-image:none !important;
  list-style-type:none !important;
  float:left;
  display:block;
  height:21px;
  border-left:1px solid #C9C9C9;
  position:relative;
  background:none !important;
  background-image:none !important;
  padding:0px !important;
  margin:0px !important;
}
ul.contentTabs a {
  vertical-align:top;
  font-weight:bold;
  line-height:21px;
  height:21px;
  vertical-align:top;
  padding:0px 4px 0px 4px;
  display:block;
  float:left;
}
ul.contentTabs a:hover,
ul.contentTabs a.active {
 background-color:#CFDAEB;
 text-decoration:none;
}
ul.contentTabs li.last a {
 padding-right:11px;
}
ul.contentTabs li.last a:hover,
ul.contentTabs li.last a.active {
} 
.contentTabsArchive .contentChildNavi {
    margin-bottom:1px !important;
    background-position: left bottom;
}
.contentTabsArchive .contentChildNavi ul.contentTabs {
    margin-left:0px !important;
}

#leftNavi ul {
 padding-left: 0px;
 margin: 24px 0px 0px 0px;
 width:170px !important;  overflow:hidden !important;
 position:relative; 
}
#leftNavi ul ul {
 margin: 0px 0px 0px 10px;
}
#leftNavi ul li {
 list-style-type: none;
 list-style-image: none;
 display:inline;
}
#leftnavi ul li,
#leftnavi ul {
 line-height:0px;
 font-size:0px;
}
#leftNavi li {
    padding:0px;
    margin:0px;
    background:none;
}
#leftNavi a {
 display:block;
 position:relative;
 text-decoration: none;
 font-weight: normal;
 padding-top:9px !important;
 padding-bottom:5px !important;
 font-size: 13px !important;
 line-height: 17px !important;
 color: #000000;
 background:url(/db/apollo_reddot/dots.gif) repeat-x 0px 1px !important;
}
#leftNavi .parent a {
    padding-bottom:0px !important;
}
#leftNavi li.first a {
    background:none !important;
}
#leftNavi a:hover, #leftNavi a.active {
 text-decoration: none;
 color:#0098DB;
}
#leftNavi li  li  a {
 font-size: 11px !important;
 font-weight: normal !important;
 line-height:13px !important;
 padding: 3px 0px 3px 0px !important;
 background:none !important;    
}
#leftNavi li li.last a {
    padding-bottom: 7px !important;
}
#leftNavi li  li li a {
 padding-left:15px !important;
}
#leftNavi li li  li li a {
 padding-left:30px !important;
}

/*TOOLBOX*/
.toolBox {
    position:absolute;
    left:100px;
    top:100px;
    background-color:white;
    border:1px solid #003399;
   /* z-index:99999999;*/
}
.toolBoxClose {
    position:absolute;
    right:120px;
    top:113px;
    display:none;
    font-size:11px
}
.toolBoxIFrame {
    background-color:#E1E8F3;
    border-style: none;
}
.toolBarOuter {
    float:left;
    margin: 0px;
    position:relative;
}
#breadcrumbNavi .toolBarOuter {
    margin-top:-1px;
}
#footerArea .toolBarOuter {
    margin-top:5px;
}
#ToolBar_top {
    margin:-2px 4px -20px 0px;
}
.ToolBarNote {
    position:absolute;
    top:-30px;
    line-height:14px;
    font-size:11px;
    font-weight:normal;
    white-space:nowrap;
}
#ToolBar_top .ToolBarNote {
    top:30px !important;
}
.toolBarInner {
    float: left;
    margin:0px;
}
.toolBarInner a 
{
    position:relative;
    cursor: pointer;
    display: block;
    float: left;
    margin:0px 8px 0px 0px;
    top:0px;
    padding:0px;
}
.toolBarPrint {
    width: 18px;
    height: 20px;
    background: url(../img/print.gif) no-repeat left top;
}
.toolBarPrint:hover {background-position: left -23px !important;}

.toolBarSendafriend {
    width: 17px;
    height: 20px;
    background: url(../img/mail.gif) no-repeat left top;
}
.toolBarSendafriend:hover {background-position: left -25px !important;}

.toolBarBookmark {
    width: 15px;
    height: 20px;
    background: url(../img/bookmark.gif) no-repeat left top;
}
.toolBarBookmark:hover {background-position: left -20px !important;}

.toolBarFeedback {
    width: 16px;
    height: 20px;
    background: url(../img/feedback.gif) no-repeat left top;
}
.toolBarFeedback:hover {background-position: left -21px !important;}

.toolBarSocial {
    width: 16px;
    height: 20px;
    background: url() no-repeat left top;
}

/*.fontResizingBarOuter a:hover, a:hover , a.hovericon:hover{
    background-position: left -32px !important;
}*/

/*RESIZING*/
.fontResizingBarOuter {
    float:right;
    margin: 5px 0px 0px 0px;
    position:relative;
}
.fontResizingBarOuter .toolBarInner a {
    margin:0px 0px 0px 8px;
}
a.fontSizeButton {
    display:block;
    float:right;
    height:20px;
    cursor:pointer;
    background:no-repeat left top;
}
a.fontSizeButton#swfToggleOFF { 
    background-image:url();
    width:17px;
}
a.fontSizeButton#swfToggleON { 
    background-image:url();
    width:17px;
}
a.fontSizeButton#contrast {
    background-image:url(/db/apollo_reddot/kontrast.gif);
    width:14px;
} 
a.fontSizeButton#font {
    background-image:url(/db/apollo_reddot/schriftgroesse.gif);
    width:18px;
} 

div#bookmarksList { display:none; }

/* Searchform */

#lv1Search {
    display:block;
    float:right;
    width:128px;
    overflow:hidden;
    padding: 0x !important;
    margin: 0px !important;
    height:36px !important;
    background:url(../img/suchfeld.gif) no-repeat left 5px !important;
    position:relative;
}
#lv1Search form {
    display:inline;
    margin:0px;
    padding:0px;
}
#lv1Search .searchInput {
    display:block;
    border:0px !important;
    font-size:11px;
    font-weight:regular;
    margin:9px 0px 0px 6px;
    background:none;
}
/*
#lv1Search .searchInput {
    display:block;
    border:0px !important;
    font-size:11px;
    font-weight:regular;
    color: #888888;
    padding:12px 0px 0px 8px !important;
    margin:0px;
    background:none;
}
*/
#lv1Search input.searchSubmit {
    position:absolute;
    left:100px;
    top:8px;
    width:15px;
    height:20px;
}



/* ERWEITERTER ABBINDER */

#NavBelowFooter {
    float:left;
    padding-top:12px;
    width:100%;
    padding-left:12px;
    padding-right:12px;
}
#NavBelowFooter .sitemapTopic {
    height:60px;
    display:block;
    position:relative;
}
#NavBelowFooter .sitemapTopic a {
    position:absolute;
    width:170px !important;
    bottom:0px;
    background-position:left bottom !important;
    font-size:13px!important;
    line-height:14px!important;
    padding-bottom:3px!important;
    color:#009ee0!important;
    margin-bottom:10px!important;
}
#NavBelowFooter .sitemap {
    float:left !important;
    display:block !important;
    width:194px !important;
}
 
#NavBelowFooter ul li ul li a{
line-height:10px!important;
}

#NavBelowFooter ul li ul li.parent a{
padding-bottom:3px!important;
}

#NavBelowFooter ul li ul li a.active{ color:black!important; }
#NavBelowFooter ul li ul li a:hover{ color:#009ee0!important; }
 

/**//* CSS CONTENT */


/* Reddot TEXTFIELD & OLD INTEGRATED CSS*/
.rdtextfield {
}
.rdtextfield p {
    padding: 0px;
    display: block;
    margin: 0px 0px 13px 0px;
}
.rdtextfield h4{
margin-top:12px;
margin-bottom:4px;
}
.noPTag p {
    padding:0px;
    margin:0px;
    display:inline;
} 
.rdtextfield blockquote {
    margin:0px;
    padding:0px;
}
.rdtextfield table,.rdtextfield table * {
    border-collapse:collapse !important;
    background-color: white !important;
    border-style:none !important;
}
.rdtextfield table {
    width:100% !important;
    background-image:none !important;
}
.rdtextfield table td {
    padding:6px !important;
    border:1px solid #CCCCCC !important;
    vertical-align: top;
}
.rdtextfield .subheader {
    display:block;
    font-weight:bold;
    padding:0px 0px 2px 0px ;
    margin:0px 0px 14px 0px ;
    border-bottom:1px solid #CCCCCC;
}
.rdtextfield .blueheader {
    display:block;
    color:#003399;
    font-weight:bold;
    padding:0px;
    margin:0px 0px 14px 0px ;
}
.rdtextfield .colored,
.rdtextfield .smallcolored ,
.rdtextfield .bigcolored {
    color: #0098DB;
}

.onebreak h3.activeheadline { margin-bottom: 0 !important;}
 
.cntCol ul.listNoBg {margin-bottom: 0 !important;}
li.listItemMargin { margin-top: 14px;}





/***************************************************
 GENERAL CONTENT ELEMENTS
****************************************************/
p {
    padding:0px;
    margin:0px;
}
hr {
    border-top:1px solid #cccccc;
    border-bottom:0px;
    border-left:0px;
    border-right:0px;
    margin:0px;
    padding:0px;
    height:0px;
}
h1 {
    font-weight:normal;
    padding:0px;
    margin:0 0 21px 0;
}
h2 {
    color:black;
    font-weight:normal;
    padding:0px;
    margin: 0 0 14px 0;
}
h2.noline {
    border-bottom:none;
}
.contentNaviActive h2.pageHeadline {
    display:none;
}
.contentNaviActive #mainPageHeadline {
    margin-top:9px;
}
.noPageHeadline h2.pageHeadline {
    line-height:4px;
    border-bottom:none;
}
.noPageHeadline #mainPageHeadline {
    display:none;
}
h2.pageHeadline {
margin:0px;
}
#mainPageHeadline{
color:#0098DB;
margin-top:9px!important;
margin-bottom:30px!important;
font-size: 28px!important;
line-height:30px !important;
}
#mainPageHeadline * {
font-size: 28px!important;
line-height:30px !important;
}
h3 {
    font-weight:normal;
    color:#666;
    padding:0;
    margin:0px 0px 15px 0px ;
}
h4 {
    color:#000;
    font-weight:normal;
    padding:0px;
    margin:0px 0px 5px 0px ;
}
h5 {
    color:#000;
    font-weight:normal;
    padding:0px;
    margin:0px 0px 8px 0px ;
}
h1.topline {
    border-top:1px solid #CCCCCC;
    padding-top:4px;
}

sup {
 vertical-align: baseline;
 position: relative;
 height: 0px;
}

.block {display:block !important}
.inline {display:inline !important}
.relative {position:relative !important}
.absolute {position:absolute !important}
.floatleft {float:left !important}
.floatright {float:right !important}
img.floatleft {margin-right:12px; margin-bottom:12px;}
img.floatright {margin-left:12px; margin-bottom:12px;}
/********* added display block: fsc, 081126 *******************************/
.clear {display: block; clear:both !important; font-size: 0px !important; height:0px;  line-height: 0px !important;  }
span.clear {display: none; }
.left12 {margin-left:12px !important}
.right12 {margin-right:12px !important}
.top12 {margin-top:12px !important}
.bottom12 {margin-bottom:12px !important}
.left6 {margin-left:6px !important}
.right6 {margin-right:6px !important}
.top6 {margin-top:6px !important}
.bottom6 {margin-bottom:6px !important}
.bottom3 {margin-bottom:3px !important}
.bold {font-weight:bold !important}
.indented {margin-left:16px !important}
.onebreak {
    display:block !important;
    margin-bottom:13px !important;
}

#rCInner ul , .cntCol ul {
 list-style-type: disc;
 padding:0px;
 margin: 16px 0 16px 16px;
 list-style-position:outside!important;
}

#rCInner ul li , .cntCol ul li {
 padding-left: 0; 
}

ol {
    padding-left:12px !important;
    margin-left:12px !important;
}

#loggedinuserdetails
{
    margin-top: 20px;
}

.loginDate-SecurityWarning 
{
    color: red;
}

/* END CSS CONTENT */
 
/***** tables and forms *****/
table.dbIntranet {
    border-collapse: collapse;
    padding: 0px;
    margin: 0px;
    border-spacing: 0px;
    background-repeat: no-repeat;
    border:none !important;
}
table.dbIntranet td {
    background:transparent url(/db/apollo_reddot/dots.gif) repeat-x left bottom !important;
    border: none;
    height: 32px;
    padding-left: 12px;
    padding-right: 12px;
}
td.bluebg {
    background-color: #f0f9fe !important;
}
td.absoluteright {
    padding-right: 0px;
}
td.absoluteleft {
    padding-left: 0px;
}
td.subhead {
    padding-top: 32px;
}
/***** /tables and forms *****/

		/* ----------------------------------------- */

		/* feedback popup page */

		#divFeedback p.small,
		#divFeedback label.small
		{
			font-size: 10pt;
		}
		#divFeedback p.small
		{
			margin: 0.4em 0;
		}
		#divFeedback label.small
		{
			color: Black;
		}
		#divFeedback .note
		{
			font-size: 0.9em;
			margin-top: 1.0em;
		}
		#divFeedback #divClose
		{
			width: 100%;
			bottom: 0;
			position: absolute;
			text-align: right;
		}
		#divFeedback #divClose a
		{
			margin-right: 1.0em;
		}
		#divFeedback #divClose img
		{
			width: 100%;
		}
		#divFeedback .firstline
		{
			font-size: 11pt;
		}
		#divFeedback h1.theTitle
		{
			margin-top: 1.0em;
		}
		#divFeedback h1.theTitle span
		{
			font-size: 22pt;
		}
		#divFeedback div.leftX,
		#divFeedback div.rightX
		{
			display: inline-block;

			/* IE 7 does not support inline-block */
			*zoom: 1;					/* hack */
			*display: inline;			/* hack */
		}
		#divFeedback div.leftX
		{
			width: 14em;
			margin: 1.0em;
			vertical-align: top;
 		}
		#divFeedback div.rightX
		{
			width: 24em;
			text-align: left;
		}
		#divFeedback .inline
		{
			display: inline;
		}
		#divFeedback #send
		{
			margin: 0.6em;
			text-align: right;
		}

		/* ----------------------------------------- */

		/* recommendation popup page */

		#divRecommendation p.small,
		#divRecommendation label.small
		{
			font-size: 10pt;
		}
		#divRecommendation p.small
		{
			margin: 0.4em 0;
		}
		#divRecommendation label.small
		{
			color: Black;
		}
		#divRecommendation #divClose
		{
			width: 100%;
			bottom: 0;
			position: absolute;
			text-align: right;
		}
		#divRecommendation #divClose a
		{
			margin-right: 1.0em;
		}
		#divRecommendation #divClose img
		{
			width: 100%;
		}
		#divRecommendation .firstline
		{
			font-size: 11pt;
		}
		#divRecommendation h1.theTitle
		{
			margin-top: 1.0em;
		}
		#divRecommendation h1.theTitle span
		{
			font-size: 22pt;
		}
		#divRecommendation div.leftX,
		#divRecommendation div.rightX
		{
			display: inline-block;

			/* IE 7 does not support inline-block */
			*zoom: 1;					/* hack */
			*display: inline;			/* hack */
		}
		#divRecommendation div.leftX
		{
			width: 10em;
			margin: 1.0em;
			vertical-align: top;
 		}
		#divRecommendation div.rightX
		{
			width: 24em;
			text-align: left;
		}
		#divRecommendation .inline
		{
			display: inline;
		}
		#divRecommendation #send
		{
			margin: 0.6em;
			text-align: right;
		}

		/* ----------------------------------------- */
		.AlignRed
		{
			margin-left:-5px;
		}
	  
	  div.disp
	  {
        display: none;
        position: relative;
        width: 280px;
        padding: 10px;
        background: #eeeeee;
        color: #000000;
        border: 1px solid #1a1a1a;
        font-size: 90%;
        left:35px;
      }
      
      .displaytext
      {
      	margin-top:-20px; 
      	float:left; 
      	width:50%;
      	margin-left:330px;
      	color:Grey;
      }
      
      .LeftAlignElement
      {
      	margin-left:15px;
      }
      
      .RightAlignmentElement
      {
      	position:relative; 
      	margin-top:-70px;
      }
      
      
