﻿.ButtonBarPanel 
{
	background-color:#eeeeee;
	border-left: #cccccc 1px solid;
	border-top: #cccccc 1px solid;
	border-bottom: #666666 1px solid;
	border-right: #666666 1px solid;
	padding:3px; margin-left:-8px;
	margin-right:2px;
}
	
.ButtonBarPanel INPUT.button {margin:1px;}