﻿.FilterItemHeading 
{
	color:#003366;
	font-weight:bold;
	font-size:12px;
	padding-top:1px;
	padding-bottom:4px;
}
.FilterItem 
{
	float:left;
	height:50px; 
	border-left: #cccccc 1px solid;
	border-top: #cccccc 1px solid;
	border-bottom: #666666 1px solid;
	border-right: #666666 1px solid; 
	padding-left: 3px; 
	padding-bottom: 3px; 
	overflow: hidden; 
	width: 150px; 
	clip: rect(auto 3px 3px 3px); 
	margin-right: 2px; 
	margin-top: 1px; 
	padding-top: 3px; 
	border-bottom: gray 1px solid;
}
