a.fontSizeButton#font {
    background-image:url(/db/apollo_reddot/img/schriftgroesse.gif);
} 
/***************************************************
 NAVIGATION
****************************************************/

#breadcrumbNavi {
  font-size: 11px !important;
  line-height:20px !important;
}
#footerArea,
#metaNavi {
  font-size: 11px !important;
  line-height:13px !important;
}
/***************************************************
 GENERAL CONTENT ELEMENTS
****************************************************/

.font5,
.font4 {
  font-size: 18px !important; 
  line-height:22px !important;
}
.font3 {
   font-size: 13px !important; 
   line-height:16px !important;
}
.font3 * {
   font-size: 13px; 
   line-height:16px;
}
.font2 *,
.font1 *,
.font0 * {
    font-size: 11px;
    line-height:13px;
}
.font2,
.font1,
.font0 {    
    font-size: 11px!important;
    line-height:13px!important;
}
h1, .quote, .quoteLeft, .quoteRight {
    font-size: 22px!important;
    line-height: 30px!important;
    font-weight:normal!important;
}
h2 {
    font-size: 18px!important;
    line-height: 22px!important;
}
h3, h4 {
    font-size: 15px!important;
    line-height: 18px!important;
}
h5 {
    font-size: 13px!important;
    line-height: 16px!important;
}
h3.noBottomMargin
{
	margin-bottom: 0px;
}
sup {
 bottom: 5px;
 line-height: 13px;
 font-size:10px
}

.rubrizierung {
    font-size:15px!important;
    line-height:18px!important;
}
.headlinesBreak {
    font-size:15px !important;
    line-height:18px !important;
}

.ToolBarNote {
    font-size: 11px;
}
.snippet,
.snippet * {
    font-size: 13px !important;
    line-height:16px !important;
}
.snippet h4 , .snippet h4 a , .snippet h3 , .snippet h3 a{
    font-size: 15px!important; 
    line-height: 18px!important;
}

/*
body {
    font-size: 13px;
}
#level1Navi {
    font-size: 11px;
}
#leftNavi a { 
    font-size: 11px; 
}

ul.contentColumns li {
  font-size: 11px;  
}
ul.contentColumns a {
  font-size: 11px; 
}
ul.contentTabs li {
  font-size:  11px;
}
ul.contentTabs a {
  font-size:  11px; 
}
.footline {
    font-size: 10px; 
}
.rdtextfield .subheader {
    font-size: 13px;
}
.rdtextfield .blueheader {
    font-size: 13px;
}
.rdtextfield .smalltext,
.rdtextfield .smallcolored {
    font-size: 11px;
}
.rdtextfield .bigcolored {
    font-size: 13px;
}
h3.activeheadline a { 
    font-size: 13px; 
}
*/