p
{
	color: #666666;
	margin-left:10px;
	margin-top:5px;
	margin-bottom:5px;
}

p a
{	
	color: #666666;
}

h1, h2, h3
{
    color: #0018A8;
}

.white {
	color: White;
}
a.white {
	color: White;
	text-decoration: underline;
}
a.white:hover {
	background-color: transparent;
}

a.textlink 
{
    font-weight:bold;
    color:Black;
    text-decoration:none;
}
.grey_11 {
	color: #666666;
	font-size: 100%;
}

.grey_11 a {
	color: #666666;
	font-size: 100%;
}

.grey_11_bold {
	color: #666666;
	font-size: 100%;
	font-weight: bold;
}
.lightgrey_11
{
	font-size: 100%;
	color:#787878;	
}
.lightgrey_11 a
{
	font-size: 100%;
	color:#787878;	
}
.grey_10 {
	color: #666666;
	font-size: 90%;
}
.grey_10 a {
	color: #666666;
	font-size: 90%;
}
.grey_10_bold {
	color: #666666;
	font-size: 90%;
	font-weight: bold;
}

.grey_8 {
	color: #666666;
	font-size: 80%;
}
.grey_8 a {
	color: #666666;
	font-size: 80%;
}
.grey_8_bold {
	color: #666666;
	font-size: 80%;
	font-weight: bold;
}


.black_10 {
	color: Black;
	font-size: 10px;
}
.black_11 {
	color: Black;
	font-size: 100%;
}
.black_12 {
	color: Black;
	font-size: 120%;
}
.black_16_bold {
	color: Black;
	font-size:160%;
	font-weight:bold
}
.black_13_bold {
	color: Black;
	font-size:130%;
	font-weight:bold
}

.black_12em_bold {
	font-size:120%;
	color:Black;
	font-weight:bold;
}

.lightblue_10 {
	color: #0098DB;
	font-size: 90%;
}
.lightblue_10 a {
	color: #0098DB;
	font-size: 90%;
}
.lightblue_10_bold {
	color: #0098DB;
	font-size: 90%;
	font-weight: bold;
}

.lightblue_8 {
	color: #0098DB;
	font-size: 80%;
}
.lightblue_8 a {
	color: #0098DB;
	font-size: 80%;
}
.lightblue_8_bold {
	color: #0098DB;
	font-size: 80%;
	font-weight: bold;
}

.blue_10 {
	color: #0018A8;
	font-size: 90%;
}
.blue_10 a {
	color: #0018A8;
	font-size: 90%;
}
.blue_10_bold {
	color: #0018A8;
	font-size: 90%;
	font-weight: bold;
}

.blue_8 {
	color: #0018A8;
	font-size: 80%;
}
.blue_8 a {
	color: #0018A8;
	font-size: 80%;
}
.blue_8_bold {
	color: #0098DB;
	font-size: 80%;
	font-weight: bold;
}