﻿.htmlButton
{
    color: #3c3c3c;
  	font-weight:normal;
	font-size: 8pt;
	font-family: Verdana;
	vertical-align: middle;
	border: 1px solid #bbbfc4;
	background: #e7eaee url('/DXR.axd?r=0_3548-Or50a') repeat-x left top;
    padding: 1px;
	cursor: pointer;    
	height: 22.5px;
	width: 100px;
}

.htmlButton:hover
{
  	color: #3c3c3c;
	background: #fcf8e5 url('/DXR.axd?r=0_3549-Or50a') repeat-x left top;
	border: solid 1px #eecc53;
}

.htmlButton:active
{
  	color: #3c3c3c;
	background: #fee287 url('/DXR.axd?r=0_3550-mv0N8') repeat-x left top;
	border: solid 1px #c2762b;    
}

input.form_button
{
    color: #3c3c3c;
  	font-weight:normal;
	font-size: 8pt;
	font-family: Verdana;
	vertical-align: middle;
	border: 1px solid #bbbfc4;
    padding: 1px;
	cursor: pointer;    
	height: 22.5px;
}

input.form_button:hover
{
  	color: #3c3c3c;
	background: #fcf8e5 url('/DXR.axd?r=0_3549-Or50a') repeat-x left top;
	border: solid 1px #eecc53;
}

input.form_button:active
{
  	color: #3c3c3c;
	background: #fee287 url('/DXR.axd?r=0_3550-mv0N8') repeat-x left top;
	border: solid 1px #c2762b;    
}

/*This removes the dotted border when the button is the active control*/
input.form_button:focus
{
    outline:none;
}

input.form_button_secondary 
{
	margin-left:5px;
	margin-right:5px;
	margin-top:4px;
	margin-bottom:4px;	
	padding-left:6px;
	padding-right:6px;
	font-size: 80%;
	color:#232323;
	height:22px;
	vertical-align:middle;
	font-family:sans-serif;
	border-bottom:solid 1px #666666;
	border-left:solid 1px #cccccc;
	border-right:solid 1px #666666;
	border-top:solid 1px #cccccc;
	background-color:#F2F6F7;
}

input.form_button_small 
{
	margin-left:5px;
	margin-top:4px;
	margin-bottom:4px;	
	padding-left:1px;
	padding-right:1px;
	font-size: 80%;
	color:#232323;
	height:22px;
	vertical-align:middle;
	font-family:sans-serif;
	border-bottom:solid 1px #666666;
	border-left:solid 1px #cccccc;
	border-right:solid 1px #666666;
	border-top:solid 1px #cccccc;
	background-color:#F2F6F7;
}

.table_input 
{
	font-size:90%;
	margin-left:5px;
	margin-top:4px;
	margin-bottom:4px;
	color:#666666;
	padding: 2px;
	font-family:sans-serif;
}

.form_input 
{
	font-size:90%;
	margin-left:2px;
	margin-right:5px;
	margin-top:2px;
	margin-bottom:4px;
    color:#232323;
	font-family:sans-serif;
    background-color:#F2F6F7; 
    padding:4px;
}

input.form_input, textarea.form_input 
{
	font-size:90%;
	margin-left:5px;
	/*margin-left:2px;*/
	margin-right:5px;
	margin-top:2px;
	margin-bottom:4px;
	color:#232323;
	font-family:sans-serif;
	border-style:inset;
    border-width:thin;
    background-color:#F2F6F7; 
    padding:4px;
}

table.form_input 
{
	font-size:90%;
	margin-left:5px;
	margin-right:5px;
	margin-top:2px;
	margin-bottom:4px;
	color:#232323;
	font-family:sans-serif;
	background-color:#F2F6F7;
    padding:4px;
}



select.form_select
{
	font-size:95%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 4px;
    color: #232323;
    font-family:sans-serif;
    border-style:inset;
    border-width:thin;
    background-color:#F2F6F7; 
    padding:2px;
}

select.form_select_small
{
	font-size:70%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 4px;
    color: #232323;
    font-family:sans-serif;
    border-style:inset;
    border-width:thin;
    background-color:#F2F6F7; 
}