﻿.GridViewTable
{
    border:solid 1px #dddddd;
    font-size: 90%;
    color:#333333;
}

.RecordsPerPage
{
    font-size: 90%;
    color:#333333;
}

.RecordsPerPageOffset
{       
    position:relative;
    left:135px;
    top:25px;
    width:250px;
}


.GridViewTable a, .RecordsPerPage a
{
	text-decoration: none;
	color: #0018A8;
	font-family: Tahoma;
	font-style: normal;
	padding:5px;
	margin:2px;
}

.GridViewTable a:visited, .RecordsPerPage a:visited
{
    text-decoration:none;
    color:#0018A8;
}

.GridViewTable a:active, .RecordsPerPage a:active
{
	border: 2px inset #C0C0C0;
	text-decoration: none;
	color: #0018A8;
	font-family: Tahoma;
	font-style: normal;
	background-color: #EEEEEE;
	padding-left:5px;
	padding-right:5px;
	padding-top:2px;
	padding-bottom:2px;
	margin:1px;
}

.GridViewTable a:hover, .RecordsPerPage a:hover
{
    border: 1px outset #C0C0C0;
	text-decoration: none;
	color: #0098DB;
	font-family: Tahoma;
	font-style: normal;
	background-color: #EEEEEE;
	padding-left:5px;
	padding-right:5px;
	padding-top:2px;
	padding-bottom:2px;
	margin:1px;
}

.GridHeader
{
	background-color: #CFDAEB;
	color: #0018A8;
}

.GridHeader a
{
	text-decoration:none;
    color:#0018A8;
    padding:5px;
}

.GridHeader a:visited
{
	text-decoration:none;
    color:#0018A8;
    padding:5px;
}

.GridHeader a:hover
{
	text-decoration:underline;
    color:#0018A8;
    border: none;
	background-color:#EAF1F1;
    padding:5px;
    margin:2px;
}
.GridHeader a:active
{
	text-decoration:underline;
    color:red;
    border: none;
	background-color:#EAF1F1;
    padding:5px;
    margin:2px;
}

.GridFooter td
{
	border-top:solid 1px #0098DB;
	color:#0018A8;
}

.GridPager
{
	width: 100%; margin: 0 0 0 0; padding: 0px 0 0 0; background: #FFFFFF;
                  border-bottom: 1px solid #0098DB; border-collapse: collapse
}

.highlightColour
{
	color: #0098DB;
}