﻿/*Note for user - Menu control on DBIntranet2010.ascx refers to SkinID of "Menu"
/*Further reference to this in Header.skin which references CssClassSelector of "HeaderMenu" (also specifies Menu of orientation "Horizontal")
/*Old Header.css file referenced this for styling Menu
/*In DBAccess a "LogOut" Link button has been added on DBIntranet2010.ascx
/*The <ul>  for Logout button has been given a class of "AspNet-Menu"
/* and the <li> for the LogOut button has been given a class of "AspNet-Menu first"*/


.headerApplicationTitle
{
    position:absolute;
    top:22px;
    left:12px;
    color:#0098DB;
    font-size:20px;
    padding:18px 10px 0 10px;
}

#level1NaviHolder
{
    /*position:absolute;
    top:120px;*/
    background:#EAF1F6;
    /*color: #000000;    The level1NaviHolder only gives background and position for level1Navi
    font-weight: normal;
    font-size: 13px; */
    /*width:100%; */
    padding:14px 10px 4px 10px;      /* Show some of level1naviHolder's background around edges.*/
    
   
}


#level1Navi
{
    /*position:absolute;   Now it is positioned staticly in the level1NaviHolder and its height comes from its contents.
    top:120px; 
    height:36px;*/
    color: #000000;
    font-weight: normal;
    font-size: 13px;
    background: url(../img/background_navi.gif) repeat-x;
    /*margin:14px 10px 4px 10px;      /* Show some of level1naviHolder's background around edges.*/
    margin:0px 0px 0px 0px;      /* Show some of level1naviHolder's background around edges.*/
    z-index:100;
}

#level1Navi .AspNet-Menu-Horizontal
{
    height:36px;
    color: #000000;
    font-weight: normal;
    font-size: 13px;
   /* background: url(../img/background_navi.gif) repeat-x;*/
   /* z-index:9;*/
}

#level1Navi ul.AspNet-Menu /* Tier 1 */
{
    display:block;
    margin:0px;
    padding:0px;
    font-weight:normal;
}

#level1Navi ul.AspNet-Menu ul  /* Tier 2 */
{
    padding:0px;
    border-right:1px solid #e4e4e4;
    border-left:1px solid #e4e4e4;
    border-bottom:1px solid #e4e4e4;  
    
    list-style-type:none;
    /*z-index:100 !important;*/
    position:absolute !important;
    left: 0px !important;
    /*top: 34px !important;*/
    padding:0px 0px 4px 0px !important;
    background:white;
}

/*#level1Navi ul.AspNet-Menu ul ul  /* Tier 3+ 
{
   
}*/

/*#level1Navi li ul {
    display:none;
    visibility:visible;
    margin-top:32px !important;
}*/

/*Set a "selected" font color for the menu entry corresponding to the page we are currently on.*/
#level1Navi ul.AspNet-Menu li.AspNet-Menu-Selected a.AspNet-Menu-Selected, /* all tier 1 list items */ 
#level1Navi ul.AspNet-Menu li.AspNet-Menu-Selected span.AspNet-Menu-Selected /* all tier 1 list items */ 
{ 
        color: #0098DB;
}

#level1Navi ul.AspNet-Menu li /* all tier 1 list items */
{    
	display:inline;
    list-style-image: none;
    font-weight:normal !important;
    
    padding:0px 7px 0px 9px;
    float:left;
    line-height:36px;
    background: url(../img/trennung_navi.gif) no-repeat left 0px;
    position:relative;
}



#level1Navi ul.AspNet-Menu li a, 
#level1Navi ul.AspNet-Menu li span  /* all tier 1 list item links */
{
    display:block;
    color: #000000;
    font-size:13px !important;
    font-weight:normal !important;
    line-height: 34px !important;
    padding:0 0 2px 0 !important;
}

/*for top level menu when hover or active make background of whole area white and remove vertical line*/
#level1Navi ul.AspNet-Menu li:hover,
#level1Navi ul.AspNet-Menu li:active
{
    background: no-repeat left 0px;
    background-color:White;
}

/*for both anchors and spans (sitemap entry that has no URL and so gets written as span) get the text to appear DB Blue*/
#level1Navi ul.AspNet-Menu span:hover,
#level1Navi ul.AspNet-Menu span.active,
#level1Navi ul.AspNet-Menu a:hover,
#level1Navi ul.AspNet-Menu a.active 
{
    color: #0098DB !important;
    text-decoration: none;
}

/*Remove the ugly dotted outline when you select a menu item*/
#level1Navi ul.AspNet-Menu span:focus,
#level1Navi ul.AspNet-Menu a:focus
{
    outline:none;
}

#level1Navi .AspNet-Menu-WithChildren ul
{
    position:absolute;
    top:36px;
}

#level1Navi ul.AspNet-Menu ul li /* Tier 2 */
 {
    white-space:nowrap;
    font-weight:normal !important;
    font-size:13px !important;
    background:transparent url(../img/dots.gif) repeat-x 0 1px !important ;
    display:block !important;
    line-height:17px !important;    
    /*padding: 8px 10px 6px 0 !important;*/
    margin: 0 8px 0 8px !important;
    height:auto;     
    min-width:150px;
}


/*This should remove the horizontal dotted line above the first child element of the Tier 2 drop down menu item*/
#level1Navi .AspNet-Menu-WithChildren ul li.AspNet-Menu-Leaf:first-child 
{
    background:none !important;   
}

/*This should remove the vertical line in front of the first menu item at the top teir*/
#level1Navi .AspNet-Menu li:first-child 
{
    background:none;   
}