﻿/* history table */
.HistoryTable
{
    background-color:#E6EDF5;
    border:1px dotted #CCCCCC;
	font-family:Arial;
    font-size: 80%;
	color:#010000;
}

.HistoryTable TH
{
    text-align:left;
    padding: 3px 3px 3px 3px;
}

.HistoryCellStatus
{
    padding:5px;
    font-weight:bold;
    color:#003366;
    border-right:1.5px dashed #CCCCCC;
    border-top:1.5px solid #CCCCCC;
}

.HistoryDate
{
    font-size: 70%;
}

.HistoryCellComment
{
    background-color:white;
    width:260px;
    border:1.5px solid #999999;
    padding:3px;
}

.HistoryCellUser
{
    border-top:1px solid #CCCCCC;
    padding:5px;
    width:300px;
    background-color:#EBEFF6;
}

.HistoryRole
{
    font-size: 70%;
}

.HistorySubRole
{
    font-size: 70%;
}