﻿div#header h1
{
    height:80px;
    line-height:80px;
    margin:0;
    padding-left:10px;
    background: #EEE;
    color: #79B30B
    }

div#content
{
    margin:0; 
    padding:10px; 
    margin-left:200px; 
    padding-left:10px;
    }
        
div#content p
{
    line-height:1.4
    }
    
div#navigation
{
    background:#B9CAFF
    }
    
div#extra
{
    background:#FF8539
    }
    
div#footer
{
    background: #333;color: #FFF
    }
    
div#footer p
{
    margin:0;
    padding:5px 10px
    }
    
div#wrapper
{
    float:right;
    width:100%;
    margin-left:-200px
    }

div#sitemap
{
    margin:0; 
    padding:0; 
    margin-left:200px; 
    padding-top:10px; 
    padding-bottom:10px;
    }

div#navigation
{
    float:left;
    width:200px; 
    height:400px;
    }

div#extra
{
    float:left;
    clear:left;
    width:200px
    }

div#footer
{
    clear:both;
    width:100% 
    }

div.editSection
{
    border:1px solid silver; 
    margin-bottom:5px;
    padding:5px;
}

div.editButtonSection
{
    padding:5px;
}

div.editChildRecordSection
{
    border:1px solid silver; 
    margin-bottom:5px;
    padding:5px;
}

div.section
{
    display:inline-block;
    margin-bottom: 5px;
}
    
div.section span.label
{
    float:left; 
    width:80px
}

div.section span.formInput
{
     float:left;
}
/*
.HelperDivHide
{
    display:none;
    float:right; 
    width:200px;
    background-color:Aqua;
    color:#0098DB;
}

.HelperDivShow
{
     float:right; 
    width:200px;
    background-color:Aqua;
    display:inline-block;
}*/
div#HelpDiv.HelpPopUp p, 
div#HelpAccess.HelpPopUp p, 
div#HelpSelection.HelpPopUp p, 
div#HelpNotes.HelpPopUp p,
div#HelpRegionInfo.HelpPopUp p, 
div#HelpCountryInfo.HelpPopUp p, 
div#HelpCityInfo.HelpPopUp p,
div#HelpBusinessAccess.HelpPopUp p, 
div#HelpServiceAccess.HelpPopUp p,
div#PersonsHelpInfo.HelpPopUp p,
div#PersonHelpInfo.HelpPopUp p,
div#CollectionHelpInfo.HelpPopUp p,
div#PassOfficeHelpInfo.HelpPopUp p,
div#EmailHelpInfo.HelpPopUp p,
div#TelephoneHelpInfo.HelpPopUp p
{
   
   color: #0098DB;
}

div#HelpDiv.HelpPopUp 
div#HelpAccess.HelpPopUp, 
div#HelpSelection.HelpPopUp, 
div#HelpNotes.HelpPopUp,
div#HelpRegionInfo.HelpPopUp, 
div#HelpCountryInfo.HelpPopUp, 
div#HelpCityInfo.HelpPopUp,
div#HelpBusinessAccess.HelpPopUp, 
div#HelpServiceAccess.HelpPopUp
{
   float:left;
  display:inline;
   color: #0098DB;
}
 /*style for the location drop downs*/
div#locationDiv
{
    padding: 10px 0px 0px 20px;
      
}
 
		#map-container {
	
			float:left;
		}
		
	
 
 	#map-container img.region {
			display: none!important;
			left: 0px!important;
			position:relative!important;
			top: 0px!important;
			z-index: 50!important;
		}		
		
		#map-container img.regionBg {
			left: 0px!important;
			position: relative!important;
			top: 0px!important;
			z-index: 19!important;
		}
 
    /*
     div#map-container div.map
     {  
			    z-index: 100!important;
     }*/
    
      div#map-container 
	    {
		    padding:30px 0px 0px 20px; 
		    
	    }
	    
		#data-container 
		{
			float: left;	
			padding-left:20px;		
			
		}
		
		div#map-container .map
		{
		    float:left;	
		    border-top:1px solid grey;
		    border-right:1px solid grey;
		    border-bottom:1px solid grey;
		    border-left:0.5px solid grey;
		}
		
		#data-container div 
		{
			display: none;
		    float:left;
		}
		
		div#map-container div#data-container div#countryDiv 
		{
		    background-color:#EAF1F6;               
            float:left;
		}
		
		div#map-container div#data-container div#countryDiv h4		
		{            
           color:#000 !important;     
           min-width:750px;           
           background-color:  #D3D3D3;     
           padding:5px 5px 5px 5px;    
		}
		
	
		div#data-container div#countryDiv div#cityDiv
		{
		    float:left;
		    padding:5px 0px 5px 5px;
		}
		
		
    	div#data-container div#countryDiv div a.cityName
		{            
            color:#000000 !important;             
		    min-width:160px;
		    width:500px!important;
		}
		
		div#data-container div#countryDiv div a.cityName:hover
		{            
            color:#0018A8 !important;
            text-decoration:underline!important;
            min-width:160px;
		    width:160px!important;
		}
		
		
		#data-container div.selected 
		{
			display: inline;
			float:left;
		}
		
        div#contentArea div.Selected
        {	
	        font-weight:bold !important;
            font-size:12pt !important;
	        width:99% !important;
	        height:18px !important;	
	        color:#0018A8 !important;
	        padding:5px !important;
	        vertical-align:middle !important;
	        border-bottom:dashed 1px #999999 !important;
            background-image:url('../images/collapse.png') !important;
            background-position:right !important;
            background-repeat:no-repeat !important;
        }
        
        div#contentArea div.Selected:hover
        {
            background-image:url('../images/collapse_hl.png')!important;
        }

        div#contentArea div.Header:hover
        {
            background-image:url('../images/expand_hl.png');
        }

        div#contentArea div.Header 
        {		
	        font-weight:400;
            font-size:12pt;
	        width:99%;
	        height:18px;	
	        color:#0018A8;
	        padding:5px;
	        cursor:pointer;
	        vertical-align:middle;
	        border-bottom:dashed 1px #999999;
            background-image:url('../images/expand.png');
            background-position:right;
            background-repeat:no-repeat;
            display:block;
            float:left;
        }

        div#contentArea div.Content
        {	
            float:left;
            display:block;
            width:100%;
        }



/* new map styles */

div#RegionDiv
{
    border:1px solid #000;
    float: left;    
    width:799px;
    height:353px;
    padding:0px 0px 0px -10px;
}

div#CountryDiv
{
    border:1px solid #000;
    float: left;    
    width:799px;
    height:353px;
    padding:0px 0px 0px -10px;
}

div#map-container .map
{
	float:left;	
	border-top:1px solid grey;
	border-right:1px solid grey;
	border-bottom:1px solid grey;
	border-left:0.5px solid grey;
}


	
		
div#RegionDiv h4,
div#CountryDiv h4		
{            
    color:#000 !important;     
    min-width:750px;           
    background-color:  #D3D3D3;     
    padding:5px 5px 5px 5px;    
}
		
div#RegionDiv h4 a,
div#CountryDiv h4 a		
{            
    float:right; 
}

div#RegionDiv ,
div#CountryDiv 		
{            
    background-color:#EAF1F6;
}

		
div#RegionDiv #countriesDiv,
div#CountryDiv #cityDiv
{
	float:left;
	padding:5px 0px 5px 5px;
	background-color:#EAF1F6;
}

div#RegionDiv #countriesDiv a:hover,
div#CountryDiv #cityDiv a:hover
{            
    color:#0018A8 !important;
    text-decoration:underline!important;
    min-width:160px;
	width:160px!important;
}			


div#RegionDiv a.close,
div#CountryDiv a.close		
{            
    float:right;  
}

/*slider styles*/
#ControlSlider
{
    width:99%;   
    padding:5px 0px 0px 0px; 
}


div.sliderButton
{
    float:left!important;
    width:99%;
}

#slider
{
 width:400px;
 float:left;
 vertical-align:middle!important;

}

div.labelEnable,
div.labelDisable
{
    background-color:#EAF1F6;
    color:gray;
    width:60px;
    height:13px;
    float:left;
    padding:2px 5px 5px 5px;
    border:1px solid gray;
    text-align:center;
}


/*styles for world map attempt 3*/

#ImageAmericas,
#ImageAsia,
#ImageEmea
{
    float:left;
   margin:10px 10px 10px 10px;
    
    }
    
    
#ImageAmericas,
#ImageAsia,
#ImageEmea
{
    border:1px solid gray;   
    }
    



 div#data-container div#countryDiv 
		{
		    background-color:#EAF1F6;               
            float:left;
            min-height:300px;
		}
		
div#data-container div#countryDiv h4		
		{            
           color:#000 !important;     
           min-width:750px;           
           background-color:  #D3D3D3;     
           padding:5px 5px 5px 5px;    
		}
		
		div#data-container div#countryDiv div a.cityName
		{            
            color:#000000 !important;             
		    min-width:160px;
		    width:500px!important;
		    background-color:#EAF1F6;
		}
		
		div#data-container div#countryDiv div a.cityName:hover
		{            
            color:#0018A8 !important;
            text-decoration:underline!important;
            min-width:160px;
		    width:160px!important;
		    background-color:#EAF1F6;
		}
		div#countryDiv div#cityDiv,
		div#countryDiv div#cityDiv div#MapAmericas,
		div#countryDiv div#cityDiv div#MapEmea,
		div#countryDiv div#cityDiv div#MapAsia
		{
		    background-color:#EAF1F6 !important;
		 }
		
		


div#BreadCrumbsMap p
{
    float:left;
}

div#BreadCrumbsMap
{
   margin:10px 0px 5px 25px;
   
   
   
}

div#MapImages
{
    padding:5px 5px 5px 15px;
    }
    
div#MapAmericas div#AmericasCountry,
div#MapEmea div#EmeaCountry,
div#MapAsia div#AsiaCountry
{
   
     border:1px solid gray;   
    width:250px;
    height:375px;  
    float:left;
    margin:10px 10px 10px 10px;
}


div#MapAmericas div#AmericasCountry h4 a#close,
div#MapEmea div#EmeaCountry h4 a#close,
div#MapAsia div#AsiaCountry h4 a#close
{
    float:right;
    padding-right:5px;
    font-size:small;
    vertical-align:top!important;
    
}

div#MapAmericas div#AmericasCountry h4,
div#MapEmea div#EmeaCountry h4,
div#MapAsia div#AsiaCountry h4
{    
    padding:10px 0px 0px 10px!important;
     background-color:  #D3D3D3;     
}

div#MapAmericas div#AmericasCountry div#regioncities a,
div#MapEmea div#EmeaCountry div#regioncities a,
div#MapAsia div#AsiaCountry div#regioncities a
{
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}

div#AmericasCountry,
div#EmeaCountry,
div#AsiaCountry,
div#cityDiv div#div1,
div#cityDiv div#div10,
div#cityDiv div#div20,
div#cityDiv div#div30,
div#cityDiv div#div40
{
    background-color:#EAF1F6!important; 
    
}

div#regioncities p
{
    line-height:10px;
}
/*end styles*/

/*Task Details*/
.TaskDescription
{width:600px;
}
.TaskDetailLabel, .RequestDetailLabel
{
    display:-moz-inline-block; display:-moz-inline-box; display:inline-block;float:left;
    padding-bottom:10px;
    width: 140px;
    font-weight:bold;
    font-size: 11px;
}

.TaskDetailLabelExtended
{
    display:-moz-inline-block; display:-moz-inline-box; display:inline-block;float:left;
    padding-left:20px;padding-bottom:10px;
    width: 150px;
    font-weight:bold;
}

.TaskDetailContent, .RequestDetailContent
{
    float:left;
    display:-moz-inline-block; 
    display:-moz-inline-box; 
    display:inline-block; 
    padding-bottom:10px;
    width:350px;
    font-size: 11px;
}

.TaskDetailContentComment
{float:left;display:-moz-inline-block; display:-moz-inline-box; display:inline-block; padding-left:20px;padding-bottom:10px;width:300px;
}

div#LocationContent.Content label#ctl00_DBMainContent_ASPxLocationHeading.dxeBase
{
    display:none!important;
}
/*normal html input button style*/
.AltButton 
{
    cursor:hand;
    border:#bbbfc4 1px solid;
    padding: 2px 8px;
background:url(/DXR.axd?r=0_1964-KU2c2) #e7eaee repeat-x left top;color:#3c3c3c;font-size:12px;
}



