﻿/* General Classes */
body {
   font-size: 75%; 
}

a.externalLink
{
    color: #666666;
	FONT-WEIGHT:bold;
	font-size: 80%;
	background-image:url(../images/arrow.gif);
	background-position:left;
	background-repeat:no-repeat;
	padding-left:10px;
}

.TaskInfoText
{
	color:Black;
}

/* Sizing and spacing classes */

.W95P 
{
	width:95%;
}

.W100P 
{
	width:100%;
}

.W200 
{
	width:200px;
}

/* Margins */
.margin10
{
	margin:10px;
}

.marginB10
{
	margin-bottom:10px;
}

.marginT10
{
	margin-top:10px;
}

.marginL10
{
	margin-left:10px;
}

.marginR10
{
	margin-right:10px;
}

/* Padding */
.padding10
{
	padding:10px;
}

.paddingB10
{
	padding-bottom:10px;
}

.paddingT10
{
	padding-top:10px;
}

.paddingL10
{
	padding-left:10px;
}

.paddingR10
{
	padding-right:10px;
}
/* Borders */

.GreyBorder
{
    border-top:solid 1px #F9F9F9;
    border-right:solid 1px #F9F9F9;
    border-left:solid 1px #F9F9F9;
    border-bottom:dotted 1px #999999;
    margin-top:1px;
}
.RedBorder
{
    border:1px solid red;
}
.Mandatory
{
    border:2px solid #CCCCCC;
    margin-top:1px;
}

/* Align */

.AlignCentre
{
	text-align:center;
}

.AlignRight
{
	text-align:right;
}

/* Footer */
.footer_divider {
	font-size:none;
	height:0px;
	border-top: 1px solid #eeeeee;
	margin-top:30px;
	margin-bottom:8px;
	width:800px;
}
.footer 
{
    border-left:solid 1px #dddddd;
    padding-left:5px;
	margin-left:160px;
	margin-top:4px;
	margin-bottom:12px;
	line-height:18px;
	font-size: 100%;
	color: #787878;
}

.footer a
{
	color:#666666;
}

.DateEditTextBox
{
    color: #FF0000 !important;

    font:sans-serif;
           
    border: solid 1px #AAAAAA;
    width: 150px;
}

.CursorHandPointer
{
   cursor:pointer;
}
