.ContextMenuPanel 
{
	border: 1px solid #868686;
	z-index: 1000;
	background: url(../images/menu-bg.gif) repeat-y 0 0 #FAFAFA;
	cursor: default;
	padding: 5px 5px 0px 5px;
	font-size: 11px
}

.ContextMenuBreak
{
	margin:1px 1px 1px 32px;
	padding:0;
	height:1px;
	overflow:hidden;
	display:block;
	border-top: 1px solid #C5C5C5;	
}

a.ContextMenuItem
{
	margin: 1px 0 1px 0;
	display: block;
	color: #0018A8;
	background-color: #000000;
	text-decoration: none;
	cursor: pointer;	
	padding: 4px 19px 4px 33px;
	white-space: nowrap;
}

a.ContextMenuItem-Selected
{
	font-weight: bold;
}

a.ContextMenuItem:hover
{
	background-color: #FFE6A0;
	color: #0018A8;
	border: 1px solid #D2B47A;
	padding: 3px 18px 3px 32px;
}

.modalBackground 
{
    background-color:Gray;
    filter:alpha(opacity=60);
    opacity:0.60;         
}
.modalPopup {
    color:Gray;
    background-color: whiteSmoke;
    border-width:3px;
    border-style:solid;
    border-color:whiteSmoke;
    padding:3px;
    width:250px;
    height:125px;
}

.ContextMenuPanel input 
{
	border:none;
	vertical-align:middle;
}