﻿
.SiteMapPath
{
	clear:both;
	margin-left:25px;
	vertical-align:top;
	margin-bottom:10px;
	margin-top:5px;
}

.shaded
{	
    border-bottom:dashed 1px #999999;
	color:#0018A8;
	padding:5px;
	height:18px;
}

.collapsePanelOuter
{	
	background-color:White;
	margin-bottom:10px;
}

.collapsePanelTitle 
{    
    font-weight:400;
    font-size:12pt;
	width:99%;
	height:18px;	
	color:#0018A8;
	padding:5px;
	cursor:pointer;
	vertical-align:middle;
	border-bottom:dashed 1px #999999;
}

.collapsePanel 
{
	background-color:White;
	margin-bottom:10px;
}

.collapsePanelHeightAuto
{
	background-color:White;
	margin-bottom:10px;
	height: auto !Important;
}

.accordianPanelTitleSelected 
{	
	font-weight:bold;
    font-size:12pt;
	width:99%;
	height:18px;	
	color:#0018A8;
	padding:5px;
	vertical-align:middle;
	border-bottom:dashed 1px #999999;
    background-image:url('../images/collapse.png');
    background-position:right;
    background-repeat:no-repeat;
}

.accordianPanelTitleSelected:hover
{
    background-image:url('../images/collapse_hl.png');
}

.accordianPanelTitle
{		
	font-weight:400;
    font-size:12pt;
	width:99%;
	height:18px;	
	color:#0018A8;
	padding:5px;
	cursor:pointer;
	vertical-align:middle;
	border-bottom:dashed 1px #999999;
    background-image:url('../images/expand.png');
    background-position:right;
    background-repeat:no-repeat;
}

.accordianPanelTitle:hover
{		
	background-image:url('../images/expand_hl.png');
}

.accordianPanelOuter
{
	background-color:White;
	margin-bottom:10px;
    padding:5px;
}

.dataLabelInHeading
{
	font-weight:bold;
	color: #383838;
	font-size: 90%;
	background-color: #EBEFF6;
	border:solid 1px #B8CBE3;
	padding:2px;
}

.DataLabelInHeadingSmaller
{
	color: #383838;
	font-size: 70%;
	background-color: #EBEFF6;
	border:solid 1px #B8CBE3;
	padding:2px;
}

.AbsoluteRight
{
	position:absolute;
	right:225px;
}

.ContentColumn 
{ 
    width:400px;	            
    padding:10px;
    vertical-align:top;
}

.ClearBoth
{
    clear:both;
}

.autoComplete
{
    margin:0px;
    border: 1px solid #cccccc;
    font-size: 11px;
    background-color:White;
    padding-left:5px;
}

.autoCompleteItem
{
    border-bottom:1px dotted #cccccc;
    list-style-type:none;
}

.autoCompleteItem_Highlight
{
    background-color: #CFDAEB;
    list-style-type:none;
    color:Black;
}

.highlightedPanel
{
    background-color: #CFDAEB;
    padding:10px;
    margin:10px;
    border:1px solid #0018A8;
}