﻿div.modalBackground 
{
    background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7; 
}

div.modalPopup 
{
    background-color: White;
    border-width:3px;
    border-style:solid;
    border-color:Gray;
    height: auto !important;
    width: auto !important;
    max-height: 800px;
    max-width: 644px;
}

div.modalPopupNoMax
{
    background-color: White;
    border-width:3px;
    border-style:solid;
    border-color:Gray;
    height: auto !important;
    width: auto !important;
}

div.popupHeader
{   
    background-color:#0018A8;
	width:auto; 
    cursor: move;
    border:0;
    padding: 5px;
    margin-bottom:5px;
    text-transform:uppercase;
    font-weight:bold;
    color:White;
    font-size: 90%;
}

div.popupHeader span
{
    font-weight:bold;
    color:White;
}

div.popupContent
{
    padding:10px;
}

div.popupDetails
{
    padding:0; 
    margin:0;
}

div.popupButtons
{
    padding:0;
}

div.popupButtons span
{
    float:right;
}

.popupbuttons
{
    float:right; 
    position: absolute; 
    bottom:10px; 
    right:10px
}

div.modalPopupHolder
{
	width: 800px;
}

div.PopupBasic
{
	width: 220px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}
div.PopupBasic > div
{
	float: left;
	padding: 5px;
}

/* ------------------------------------------- */

p.PopupAlert
{
	height: 48px;
}
div.PopupAlert
{
	padding: 5px;
	padding-top: 0;
}
div.PopupAlert > table		/* this is the button */
{
	width: 100px;
	margin: 0 auto;
}

/* ------------------------------------------- */

h2.PopupConfirm
{
	margin: 3px;
	text-align: center;
}
p.PopupConfirm
{
	height: 68px;
}
div.PopupConfirm
{
	clear: both;
	padding: 5px;
	padding-top: 0;
}
div.PopupConfirm > div
{
	width: 220px;
	margin: 0 auto;
	white-space: nowrap;
}
div.PopupConfirm > div > table
{
	margin: 0 5px;
	width: 100px;
	display: inline;
}

/* ------------------------------------------- */

