﻿/* Blue Snippet Box */
.Snippet
{
	background-color:#EBEFF6;
	color:#666;	
}


.Snippet a
{
	color:#666;
}

.Snippet p
{
	margin:5px;
	text-align:left;
}
.Snippet p.hilite
{
	margin:5px;
	text-align:left;
	color:#0018A8;
}
.SnippetTitle
{
	font-weight:bold;
	PADDING-LEFT: 10px;
	BACKGROUND-IMAGE: url(../images/corner_sidenav_sel.gif); 
	PADDING-BOTTOM: 3px; 
	PADDING-TOP: 3px; 
	BACKGROUND-REPEAT: no-repeat; 
	COLOR:#0018A8;
	BACKGROUND-COLOR: #ACC6DF;
	background-position:top-left;
}

.Snippet td
{
	color:#666;
}

.Snippet td a:hover
{
	color:#006699;
	text-decoration:underline;
}

.Snippet a:hover
{
	color:#006699;
	text-decoration:underline;
}

.Snippet a:visited
{
	color:#666;
}

/* Intranet search box styles */
.searchutil
{
	background-color:#EEE;
	border-left:solid 8px white;
	border-bottom:solid 8px white;
}

.searchHeadingText{
	COLOR:#666666 ; 
	text-decoration:none;
	font-weight:bold;
}

.searchHeading {
	PADDING-LEFT: 10px;
	BACKGROUND-IMAGE: url(../images/corner_grey.gif); 
	PADDING-BOTTOM: 3px; 
	PADDING-TOP: 3px; 
	BACKGROUND-REPEAT: no-repeat; 
	BACKGROUND-COLOR: #dbdce0;
	background-position:top-left;
}

.searchutilTitle
{
	FONT-WEIGHT:Bold;
	COLOR:#666666;
}

.searchutilInner
{
	padding-left: 10px;
	padding-top: 10px; 
	padding-right: 6px; 
}

.searchutilInner .radiobuttons input
{
	background-color:inherit;
	border: none;
	color:#666666;
}

.searchutilInner .radiobuttons
{
	background-color:inherit;
	color:#666666;
}

.searchutilInner .TextBox
{
	width:180px;
	background-color:#FFFFFF;
	border:solid 1px  #999999;
	border-style:solid;
	font-weight:normal;
	margin-top: 0px;
}

.searchutilInner .table_input
{
	background-color:#FFFFFF;
	border:solid 1px  #999999;
	border-style:solid;
	font-weight:normal;
	margin-top: 0px;
}

.searchutilInner select.DropDown
{
	background-color:#FFFFFF;
	border:solid 1px  #999999;
	font-weight:normal;
	margin-top: 0px;
}

.searchutilInner input.Button
{		
	width:60px;
	font-weight:normal;
	padding: 0px;
	border-style:outset;
	border-width:2px;
	margin:5px;
}
.searchutilInner p
{
}
/* End Intranet search box styles */
