﻿.form_label  	
{
    background-color:#FFFFFF;
	color:#666666;
	padding-right:4px;
	padding-top:7px;
	padding-bottom:9px;
	padding-left:5px;
	border-bottom:dotted 1px #999999;
	vertical-align:top;
}

.form_help  	
{
    background-color:#FFFFFF;
	color:#666666;
    font-size:90%;
	padding-right:4px;
	padding-top:7px;
	padding-bottom:2px;
	padding-left:5px;
	border-bottom:dotted 1px #999999;
	vertical-align:top;
}

.form_help p
{
	line-height:normal;
	color:#666666;
}

.form_label_blue  {
	background-color:#EAF1F7;
	color:#666666;
	padding-right:4px;
	padding-top:7px;
	padding-bottom:9px;
	padding-left:5px;
	height:18px;
	font-weight:bold;
	vertical-align:middle;
    border-bottom:dotted 1px #999999;
}

.form_item  {	
	background-color:#FFFFFF;
	padding-right:4px;
	padding-top:7px;
	padding-bottom:9px;
	padding-left:5px;
	border-bottom:dotted 1px #999999;
}

.form_item_overlap  {
	background-color:#EAF1F7;
	height:18px;
	vertical-align:middle;
	padding-right:4px;
	padding-top:7px;
	padding-bottom:9px;
	padding-left:5px;
    border-bottom:dotted 1px #999999;
}

.form_label_small  {
    background-color:#FFFFFF;
	color:#666666;
	padding-right:4px;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:5px;
    border-bottom:dotted 1px #999999;
}

.table_cell  {
	color:#666666;
	padding-right:4px;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:5px;
	border-bottom:solid 1px #F0F0F0;
}

.table_head  {
	background-color:#EAF1F7;
	color:#666666;
	padding-right:4px;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:5px;
	height:20px;
	font-weight:bold;
	vertical-align:middle;
}

.table_centre  {
	background-color:#EAF1F7;
	padding-right:4px;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:5px;
	border-bottom:solid 1px #CFDAEB;
}

.table_centre_head  {
	background-color:#EAF1F7;
	height:20px;
	vertical-align:middle;
	padding-right:4px;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:5px;
}

.ReqsTable
{
	margin-left:20px;
}

.ReqsTable th
{
	text-align:left;
	padding-left:5px;
	padding-top:2px;
	width:180px;
}

.ReqsTable th.narrow
{	
	width:18px;
}

.ReqsTable td
{
	padding-left:5px;
	padding-top:2px;
}

.table_top
{
	border-top:solid 5px #CFDAEB;
	font-size:90%;
}

.fixed
{
	table-layout:fixed;
}

.simpleTable 
{
	border:solid 1px #666666;
	margin:3px;
}

.simpleTable th
{
	background-color:#CFDAEB;
}

.simpleTable td
{
	padding:2px;
}

.TaskTable td
{
	width:100px;
	border-right:dotted 1px #999999;
	border-bottom:dotted 1px #999999;
	padding-right:10px;
}

td.CommentHeading
{
	border-bottom:solid 1px #999999;
	padding-right:10px;
}

td.CommentText
{
	vertical-align:top;
	width:300px;
	border-left:solid 1px #999999;
	border-right:dotted 1px #999999;
	border-bottom:dotted 1px #999999;
	padding-right:10px;
	padding-left:2px;
}


.BlueTableHeader
{
	background-color: #CFDAEB;	
}

td.GreyTableHeader
{
	font-size: medium;
	
}

.table_cell_info  {
	padding-right:4px;
	padding-left:5px;
	height: 5px;
}

.greyBorderTable {
	border-style: solid; 
	border-color: #CFCFCF; 
	border-width: thin; 
	border-collapse: collapse; 
}