﻿input.tab {
	background-image:url(../images/corner_sidenav.gif);
	background-position:0px,0px;
	background-repeat:no-repeat;
	background-color:#CEDFEF;
	border:none;
	margin:0px;
	color:#0018A8;
}
input.tab_highlight {
	background-image:url(../images/corner_sidenav_hi.gif);
	background-position:0px,0px;
	background-repeat:no-repeat;
	background-color:#eeeeee;
	border:none;
	margin:0px;
	color:#666666;
}
input.tab_selected {
	background-image:url(../images/corner_sidenav_sel.gif);
	background-position:0px,0px;
	background-repeat:no-repeat;
	background-color:#ACC6DF;
	border:none;
	margin:0px;
	color:#003399;
	font-weight:bold;
}
div.tab_box
{
	padding-top:20px;
    border-top:solid 4px #ACC6DF; 
    border-left:solid 2px #ACC6DF;   
    border-bottom:solid 2px #ACC6DF;
    border-right:solid 2px #ACC6DF;
    padding-right:10px;
    padding-left:10px;
    padding-bottom:30px;
    background-color:White;
}
