﻿#UpdateProgressPanel
{
   z-index: 99999999;
   background-color:#fff;
   color:#fff;
   width: 200px;
   text-align: center;
   vertical-align: middle;
   position:fixed;
   top: 45% !important;
   left: 45%;
   padding: 10px;
   border: solid 2px #5D7B9D;
}

* html #UpdateProgressPanel
{
    position: absolute !important;
}

#UpdateProgressModalBackground
{
    z-index: 99999998;
    background-color: #6D7B8D;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    filter: alpha(opacity=50);
    opacity: 0.5;
    -moz-opacity: 0.5;
}

* html #UpdateProgressModalBackground
{
    position: absolute !important;
    height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px' ) !important;
    width: expression(document.body.clientWidth + "px") !important;
}

#UpdateProgressHideSelect
{
    z-index: 15000;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    border: none;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    display: inline !important;
}

* html #UpdateProgressHideSelect
{
    /* ie6 hack */
    position: absolute;
    height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}