﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/DBIntranet.master" AutoEventWireup="true" CodeBehind="Contact.aspx.cs" Inherits="spaarks.DB.CSBC.DBAccess.DBAccessIntranet.Pages.Contact" %>
<asp:Content ID="Content1" ContentPlaceHolderID="DBMainContent" runat="server">
    <h1>Contact</h1>
    <p>This is the contact page</p>
    <br />
</asp:Content>
