﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/DBIntranet.master" AutoEventWireup="true" CodeBehind="Help.aspx.cs" Inherits="spaarks.DB.CSBC.DBAccess.DBAccessIntranet.Pages.Help" %>
<asp:Content ID="Content1" ContentPlaceHolderID="DBMainContent" runat="server">
    <h1>Help</h1>
    <p>This is the help page</p>
    <p>
        <img src="../Images/HELP_USER_GUIDE.JPG" /></p>
    <br />
</asp:Content>
